body {
    background-color: #FFD43B;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

p.main {
    font-size: 24px;
}

/* inputs */
input {
    border-radius: 10px;
    padding: 10px;
    border-style: none;
}

input:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt gray;
}

input[type=email] {
    width: 320px;
}

/* img */
.logo {
    width: 90vw;
    max-width: 750px;
}

.social-icon {
    height: 36px;
}
